@import "compass/css3";

@import "compass";

/* VARIABLES */
$header-bg: #01AE64;
$header-fg: #fff;
$header-active: #FE4902; // Vermillion
$menu-width: 250px!default;

/* BASE */
html,
body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    @include clearfix;
    margin: 0 20px;
}

.site-content {
    padding-top: 66px;
}

/* HEADER */
.header {
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    color: $header-fg;
    background-color: $header-bg;
}

.header a:hover {
    color: $header-fg;
    text-decoration: none;
}

.header__logo {
    font-weight: 700;
    padding: 0 25px;
    float: left;
    font-size: 1.3em !important;
}

/* MENU */
.menu {
    float: left;
    font-weight: 600;

    a {
        padding: 0 10px;
        -o-transition: .3s;
        -ms-transition: .3s;
        -moz-transition: .3s;
        -webkit-transition: .3s;
        transition: .3s;
    }

    a:hover {
        color: $header-active;
    }
}

.login-block {
    float: right;
    right: 50px;
    font-weight: 600;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    .site-pusher,
    .site-container {
        height: 100%;
    }

    .site-container {
        overflow: hidden;
    }

    .site-pusher {
        @include transition-duration(0.3s);
        @include transform(translateX(0px));
    }

    .site-content {
        position: absolute;
        top: 66px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .header {
        position: static;
        //background-color: $header-fg!important;
    }

    .header__icon {
        position: relative;
        display: block;
        float: left;
        width: 66px;
        height: 66px;
        cursor: pointer;
        background-color: $header-fg!important;

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 1rem;
            height: 0;
            top: 16px;
            left: 15px;
            @include box-shadow(0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff);
        }
    }

    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: $header-fg!important;
        /*    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
        width: $menu-width;

        @include transform(translateX($menu-width * -1));

        a {
            display: block;
            height: 66px;
            text-align: center;
            line-height: 66px;
            color: $header-bg;
            border-bottom: 1px solid lighten($header-fg, 5);
            border-right: 1px solid lighten($header-fg, 5);
        }
        
    }

    .with--sidebar {
        .site-pusher {
            @include transform(translateX($menu-width));
        }

        .site-cache {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.6);
        }
    }
}
