/* VARIABLES */
/* BASE */
/* line 12, ../sass/site.scss */
html,
body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/site.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 27, ../sass/site.scss */
.container {
  overflow: hidden;
  *zoom: 1;
  margin: 0 20px;
}

/* line 32, ../sass/site.scss */
.site-content {
  padding-top: 66px;
}

/* HEADER */
/* line 37, ../sass/site.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  background-color: #01AE64;
}

/* line 47, ../sass/site.scss */
.header a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 52, ../sass/site.scss */
.header__logo {
  font-weight: 700;
  padding: 0 25px;
  float: left;
  font-size: 1.3em !important;
}

/* MENU */
/* line 60, ../sass/site.scss */
.menu {
  float: left;
  font-weight: 600;
}
/* line 64, ../sass/site.scss */
.menu a {
  padding: 0 10px;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 73, ../sass/site.scss */
.menu a:hover {
  color: #FE4902;
}

/* line 78, ../sass/site.scss */
.login-block {
  float: right;
  right: 50px;
  font-weight: 600;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  /* line 86, ../sass/site.scss */
  .site-pusher,
  .site-container {
    height: 100%;
  }

  /* line 91, ../sass/site.scss */
  .site-container {
    overflow: hidden;
  }

  /* line 95, ../sass/site.scss */
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 100, ../sass/site.scss */
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  /* line 111, ../sass/site.scss */
  .header {
    position: static;
    background-color: #fff !important;
  }

  /* line 116, ../sass/site.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 66px;
    height: 66px;
    cursor: pointer;
    background-color: #fff !important;
  }
  /* line 125, ../sass/site.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    -webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  }

  /* line 137, ../sass/site.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff !important;
    /*    overflow-y: scroll;
-webkit-overflow-scrolling: touch;*/
    width: 250px;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  /* line 149, ../sass/site.scss */
  .menu a {
    display: block;
    height: 66px;
    text-align: center;
    line-height: 66px;
    color: #01AE64;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
  }

  /* line 162, ../sass/site.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 166, ../sass/site.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
